.model {
	background: url("../images/icons/model.png") no-repeat;
}

.application-camel {
	background: url("../images/icons/application-camel.png") no-repeat;
}

.conditional {
	background: url("../images/icons/conditional.png") no-repeat;
}

.data {
	background: url("../images/icons/data.png") no-repeat;
}

.applications-blue {
	background: url("../images/icons/applications-blue.png") no-repeat;
}

.application-message-trans {
	background: url("../images/icons/application-message-trans.png")
		no-repeat;
}

.organization {
	background: url("../images/icons/organization.png") no-repeat;
}

.process {
	background: url("../images/icons/process.png") no-repeat;
}

.role {
	background: url("../images/icons/role.png") no-repeat;
}

.application-c-ext-web {
	background: url("../images/icons/application-c-ext-web.png") no-repeat;
}

.application-web-service {
	background: url("../images/icons/application-web-service.png") no-repeat;
}

.structured-type {
	background: url("../images/icons/structured-type.png") no-repeat;
}

.structured-type-enum {
	background: url("../images/icons/structured-type-enum.png") no-repeat;
}

.data-primitive {
	background: url("../images/icons/data-primitive.png") no-repeat;
}

.data-structured {
	background: url("../images/icons/data-structured.png") no-repeat;
}

.bricks {
	background: url("../images/icons/bricks.png") no-repeat;
}

.data-document {
	background: url("../images/icons/data-document.png") no-repeat;
}
