.report-definition {
   background: url("../../images/icons/report-definition.png") no-repeat;
}

body {
	background-color: white;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 1.5;
}

p,li,label,table {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #333333;
	font-weight: normal;
}

select {
	margin-left: 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	min-width: 100px;
	height: 21px;
	color: #4d4d4d;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	/*background-image: -webkit-linear-gradient(top, #ffffff, #f4f4f4);
	background-image: -moz-linear-gradient(top, #ffffff, #f4f4f4);
	background-image: -ms-linear-gradient(top, #ffffff, #f4f4f4);
	background-image: -o-linear-gradient(top, #ffffff, #f4f4f4);
	border: 1px solid #9c9c9c; Gradient #C9C9C9 - #9C9C9C*/
	border-radius: 2px;
	-moz-border-radius: 2px;
}

input {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #4d4d4d;
	height: 21px;
	margin-left: 0px;
	padding-left: 2px;
	border: 1px solid #9b9b9b;
	/* Gradient #9B9B9B - #C8C8C8 */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #9b9b9b;
}

input[type="text"] {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	padding-left: 5px;
	min-width: 100px;
}

input[type="text"]:focus {
	border: 1px solid #6699ff;
}

input[type="text"][disabled] {
	background-color: #f0f0f0;
}

input[type="number"] {
	text-align: right;
}

input[type="password"] {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	padding-left: 5px;
	min-width: 100px;
}

input[type=button] {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	height: 21px;
	color: #4d4d4d;
	background-color: #f2f2f2;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff),
		to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -ms-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	border: 1px solid #9B9B9B; /*Gradient #CBCBCB - #9B9B9B*/
	border-radius: 2px;
	-moz-border-radius: 2px;
}

input[type=image] {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	/*height: 21px;*/
	color: #4d4d4d;
	background-color: #f2f2f2;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff),
		to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -ms-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	border: 1px solid #9B9B9B; /*Gradient #CBCBCB - #9B9B9B*/
	border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 2px;
}

input[type=image]:focus {
	
}

input[type=text].rightAligned {
	text-align: right;
	padding-right: 3px;
}

textarea {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
}

/* General JQuery UI Overrides */
.ui-widget-content {
   background: #FFFFFF !important;
   color: #222222 !important;
}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
   {
   font-size: 12px !important;
   font-weight: normal !important;
   font-family: Helvetica, Arial, sans-serif !important;
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br {
   border-bottom-right-radius: 2px;
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-bl {
   border-bottom-left-radius: 2px;
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-tl {
   border-top-left-radius: 2px;
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-tr {
   border-top-right-radius: 2px;
}

/* JQuery UI Dialog Overwrites */
div.ui-dialog {
   border: 1px solid #5a899f !important;
   -moz-box-shadow: 2px 2px 2px 2px #f2f2f2;
   -webkit-box-shadow: 2px 2px 2px 2px #f2f2f2;
   box-shadow: 2px 2px 2px 2px #f2f2f2;
}

.ui-dialog {
   left: 0;
   outline: 0 none;
   padding: 0px !important;
   position: absolute;
   top: 0;
   background: none repeat scroll 0 0 transparent;
   border: 0 none;
   overflow: hidden;
   position: relative;
   padding: 0 !important;
}

#success {
   padding: 0;
   margin: 0;
}

.ui-dialog-content {
   background: none repeat scroll 0 0 transparent;
   border: 0 none;
   overflow: auto;
   position: relative;
   padding: 10px !important;
}

.ui-widget-header {
   background: #5a899f;
   border: 0;
   color: #fff;
   font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
   padding: 0.1em .5em;
   position: relative;
   font-size: 1em;
}

.ui-dialog-titlebar {
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
}

/* Tabs */
.minimalTabs {
   background: transparent;
   border: none;
}

.minimalTabs.ui-widget-content {
   background: transparent;
   border: none;
}

.minimalTabs .ui-widget-header {
   background: transparent;
   border: none;
   border-bottom: 1px solid #c0c0c0;
   -moz-border-radius: 0px;
   -webkit-border-radius: 0px;
   border-radius: 0px;
}

.minimalTabs .ui-tabs-nav .ui-state-default {
   background: transparent;
   border: none;
}

.minimalTabs .ui-tabs-nav .ui-state-active {
   background: transparent url(images/tabs-arrow.png) no-repeat bottom
      center;
   border: none;
}

.minimalTabs .ui-tabs-nav .ui-state-default a {
   color: #c0c0c0;
}

.minimalTabs .ui-tabs-nav .ui-state-active a {
   color: #9d2127;
   border: none;
}

.minimalTabs .ui-tabs-nav .ui-state-focus a {
   color: #9d2127;
   border: none;
}

.minimalTabs a {
   border: none;
}

.minimalTabs a:ACTIVE {
   border: none;
}

.minimalTabs a:FOCUS {
   border: none;
}

a {
	color: #17375e;
}

a {
	font-weight: normal;
	color: #397d9f;
	cursor: pointer;
}

a:hover,a:active {
	color: #FF0000;
	cursor: pointer;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #397d9f;
	line-height: 20px;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #888888;
	line-height: 20px;
}

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #888888;
	line-height: 20px;
}

img {
	margin: 0px;
	padding: 0px;
}

.invisible {
	display: none;
}

.heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #2f6871;
	line-height: 20px;
	text-decoration: none;
	
}

.section2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #2f6871;
	line-height: 20px;
	text-decoration: underline;
}

div.heading {
	margin-top: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #CCCCCC;
}

div.left {
	float: left;
}

div.content {
	text-align: center;
	width: 800px;
	background-color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
}

div.right {
	float: right;
	text-align: right;
	border: 1px yellow solid;
	background-color: black;
}

.section {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #666666;
	font-weight: normal;
}

.dialog-content form {
	font-size: 11px !important;
}

.borderedImage {
	border: 1px solid white;
}

/* .dataTableFrame {
	background-color: #F2F2F2;
	border: 4px solid #E8E8E8;
} */

.dataTableControls {
	background-color: #FFFFFF;
	border-bottom: 1px Solid #E7E7E7;
	margin-bottom: 5px;
}

.dataTable {
	border-bottom: 1px Solid #999999;
	font-family: Arial;
	color: #1B545D;
}

.dataTable thead {
	margin-top: 10px;
	/*background-image: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);
	background-image: -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
	background-image: -ms-linear-gradient(top, #FFFFFF, #E6E6E6);
	background-image: -o-linear-gradient(top, #FFFFFF, #E6E6E6);
	background-image: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);
	background-image: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);*/
}

.dataTable thead th {
	border-bottom: 1px solid #999999;
	font-weight: normal;
}

.dataTable tbody td {
	border-bottom: 1px solid #AFD7ED;
}

/* Embedded Table */
.embeddedTable {
	border: 1px solid #AFD7ED;
}

.embeddedTable tr.selected {
	background-color: #EAF1F5;
}

.embeddedTable td {
	padding-left: 6px;
	padding-right: 6px;
	border-top: 1px solid #AFD7ED;
}

.embeddedTable thead td {
	color: #AFD7ED;
	border: none;
	padding-left: 6px;
	padding-right: 6px;
}

.embeddedTable td input {
	border-top: 1px solid white;
}

.embeddedTable td select {
	border: none;
}

.smallLink {
	font-size: 9px;
	text-decoration: none;
	color: #AFD7ED;
}

/* JQuery UI Overrides */
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
	{
	font-size: 11px !important;
	font-weight: normal !important;
	font-family: Helvetica, Arial, sans-serif !important;
}

/*ipp-Ace styling for our directive*/
[ipp-Ace] {
	width:500px;
	height:80px;"
	border:solid 1px #555555;
}

.disabled {
	opacity : 0.4;
}
.enabled {
	opacity : 1.0;
}

.editorDivDefault {
   position: relative !important;
   height: 250px;
   width:500px;
   border: 1px solid #BBBBBB !important;
}

.filterTable {
	padding: 0px;
	border-spacing: 0px;
	border-collapse: separate;
}


table.dataTable {
	font-family: Arial;
	color: #004169;
	width: 100%;
	margin: 0px;
	border-bottom: 1px solid #111;
	border-top: 1px solid #111;
}

table.dataTable thead {
	margin-top: 10px;
	background-color: white;
}

/* table.dataTable thead th {
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
	font-weight: bold;
	font-size: 12px;
	color: #111;
} */

table.dataTable tbody td {
	border-top: 1px solid #ddd;
}

table.dataTable tbody tr.lastRow td {
	border-bottom: none;
	
}

table.dataTable tbody tr.odd {
	background-color: #f9f9f9;
}

.dataTableFrame {
	border: none;
}

.dataTables_length {
   width: 40%;
   float: left;
   margin: 5px;
   color: #999999;
   font-family: Helvetica, Arial, sans-serif;
}

.dataTables_filter {
   width: 50%;
   float: right;
   text-align: right;
   margin: 5px;
   color: #999999;
   font-family: Helvetica, Arial, sans-serif;
}

.dataTables_info {
   width: 60%;
   float: left;
   clear: both;
   margin-top: 5px;
   color: #999999;
   font-family: Helvetica, Arial, sans-serif;
}

.dataTables_paginate {
   margin-top: 5px;
   float: right;
   text-align: right;
   color: #999999;
   font-family: Helvetica, Arial, sans-serif;
}

.paging_full_numbers {
   width: 400px;
   height: 22px;
   line-height: 22px;
}

.paging_full_numbers a:active {
   outline: none
}

.paging_full_numbers a:hover {
   text-decoration: none;
}

.paging_full_numbers a.paginate_button,.paging_full_numbers a.paginate_active
   {
   border: 1px solid #aaa;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   padding: 2px 5px;
   margin: 0 3px;
   cursor: pointer;
   *cursor: hand;
   color: #333 !important;
}

.paging_full_numbers a.paginate_button {
   background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
   background-color: #ccc;
   text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
   background-color: #99B3FF;
}

.paginate_disabled_previous,.paginate_enabled_previous,.paginate_disabled_next,.paginate_enabled_next
   {
   height: 19px;
   float: left;
   cursor: pointer;
   *cursor: hand;
   color: #111 !important;
}

.paginate_disabled_previous:hover,.paginate_enabled_previous:hover,.paginate_disabled_next:hover,.paginate_enabled_next:hover
   {
   text-decoration: none !important;
}

.paginate_disabled_previous:active,.paginate_enabled_previous:active,.paginate_disabled_next:active,.paginate_enabled_next:active
   {
   outline: none;
}

.paginate_disabled_previous,.paginate_disabled_next {
   color: #666 !important;
}

.paginate_disabled_previous,.paginate_enabled_previous {
   padding-left: 23px;
}

.paginate_disabled_next,.paginate_enabled_next {
   padding-right: 23px;
   margin-left: 10px;
}

.paginate_disabled_previous {
   background: url('../css/thirdparty/images/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
   background: url('../css/thirdparty/images/back_enabled.png') no-repeat top left;
}

.paginate_enabled_previous:hover {
   background: url('../css/thirdparty/images/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_next {
   background: url('../css/thirdparty/images/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
   background: url('../css/thirdparty/images/forward_enabled.png') no-repeat top right;
}

.paginate_enabled_next:hover {
   background: url('../css/thirdparty/images/forward_enabled_hover.png') no-repeat top
      right;
}

/* table.dataTable {
   font-family: Arial;
   color: #004169;
   width: 100%;
   margin: 0px;
   border-bottom: 1px solid #111;
} */

table.dataTable thead {
   margin-top: 10px;
   background-color: white;
}

table.dataTable thead th {
   border-right: 1px dashed lightblue;
   font-weight: bold;
   font-size: 12px;
   color: #111;
}

table.dataTable tbody td {
   border-top: 1px solid #ddd;
}

table.dataTable tbody tr.lastRow td {
   border-bottom: none;
}

table.dataTable tbody tr.odd {
   background-color: #f9f9f9;
}

table.dataTable .group {
	font-weight:bold; 
	font-size:small; 
	background:aqua;
}

.rel-container{
  width:400px;
  border:solid 1px #ddd;
  padding:2px;
}

.rel-container div[name='ac-tag']{
  display:inline-table;
  font-size: 0.8em;
  padding: 0px 4px 0px 4px;
  border:solid 1px #ccd5e4;
  background-color:#eff2f7;
  border-radius: 4px;
  cursor:pointer;
  margin-left:2px;
  margin-top:2px;
  margin-bottom:2px;
}

.rel-container div[name='ac-tag']:after{
  content:'x';
  font-size:0.9em;
  position:relative;
  top:-1px;
}

.rel-container div[name='ac-selectList']{
  position:absolute;
  border:solid 1px #AAA;
  background-color:#fff;
  border-radius:5px;
  padding:0px;
  -moz-box-shadow: 2px 3px 4px 0px #E2E2E2;
  -webkit-box-shadow: 2px 3px 4px 0px #E2E2E2;
  box-shadow: 2px 3px 4px 0px #E2E2E2;
  width:inherit;
}

.rel-container [name='ac-selectList'] div{
  cursor:pointer;
  font-size:0.8em;
  padding:2px;
  background-color:#fff;
}

.rel-item-hot{
  background-color:#3B5998 !important;
  color:#fff;
}

/*portal style */
.breadCrumbsToolbarWrapper {
	background:url(../../images/toolbar-BG-border-bottom.png) center repeat-x;
	width: 100%;
	border-spacing: 2px;
}

.viewToolbar {
	line-height: 28px;
	text-align: right;
}

.toolbarGroupRight {
	background: url(../../images/toolbar-separator.png) left no-repeat;
	padding-left: 8px;
	padding-right: 8px;
	white-space: nowrap;
}

.jqplot-title {
    top: -5px !important;
}