<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2011 SunGard CSA LLC and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
       SunGard CSA LLC - initial API and implementation and/or initial documentation
 -->

<plugin>
   	<extension point="org.eclipse.stardust.modeling.validation.modelValidator">
		<modelValidator id="org.eclipse.stardust.ui.web.validation.typeDeclarationValidator"
			class="org.eclipse.stardust.ui.web.modeler.xpdl.validation.TypeDeclarationValidator"
			targetType="org.eclipse.stardust.model.xpdl.carnot.ModelType"/>
	</extension>
	<extension point="org.eclipse.stardust.modeling.validation.modelElementValidator">
	<modelElementValidator id="org.eclipse.stardust.ui.web.modeler.xpdl.validation.StructuredDataValidator"
		class="org.eclipse.stardust.ui.web.modeler.xpdl.validation.StructuredDataValidator"
		metaTypeId="struct"
		targetType="org.eclipse.stardust.model.xpdl.carnot.DataType">
		<filter	name="metaType"	value="struct"/>
	</modelElementValidator>
   <modelElementValidator
         class="org.eclipse.stardust.ui.web.modeler.xpdl.validation.ProxyReferenceValidator"
         id="org.eclipse.stardust.ui.web.validation.proxyReferenceValidator"
         targetType="org.eclipse.stardust.model.xpdl.carnot.IIdentifiableModelElement">
   </modelElementValidator>
   <modelElementValidator
         class="org.eclipse.stardust.ui.web.modeler.xpdl.validation.EventValidator"
         id="org.eclipse.stardust.ui.web.validation.eventHandlerValidator"
         targetType="org.eclipse.stardust.model.xpdl.carnot.EventHandlerType">
   </modelElementValidator>
   <modelElementValidator
         class="org.eclipse.stardust.ui.web.modeler.xpdl.validation.EventValidator"
         id="org.eclipse.stardust.ui.web.validation.eventHandlerValidator"
         targetType="org.eclipse.stardust.model.xpdl.carnot.ActivityType">
   </modelElementValidator>
   <modelElementValidator
         class="org.eclipse.stardust.ui.web.modeler.xpdl.validation.DataMappingValidator"
         id="org.eclipse.stardust.ui.web.validation.dataMappingValidator"
         targetType="org.eclipse.stardust.model.xpdl.carnot.DataMappingType">
   </modelElementValidator>
	</extension>
</plugin>
