/* Action Panel */

.actionPanel .iceCmdLnk 
{
	color: #444444;
	text-decoration: underline;
}

.actionPanel .iceCmdLnk -dis
{
	color: gray;
}

.content-area
{
	border:1px solid #dbdbdb;
	height: auto;
	overflow: auto;
}


.documentviewer-subpanel
{
	padding-top: 10px;
}

/* Attachments Panel */

.attachments-panel
{
	border: 1px solid #D9D9D9;
	width: 97%;
	height: 50px;
	padding: 3px;
	margin: 2px;
}

/* Drag-n-Drop target */

.dropTargetHover
{
	background-color: #E1A142;
}

/* Generic Forms */

.formLabel {
	width: 75px;
}

.formLabel a
{
	font-weight: bold;
}

.formInput
{
	width: 100%;
	float: left;
}

.formInput input,.formInput textarea
{
	width: 97%;
}

/* Chat Message Editor */

.chat-message-editor
{
	font-size: 12px;
}

/* Chat Table */

chat-protocol-table
{
	padding: 0px; 
	margin: 0px; 
	border: 1px solid #808080; 
	vertical-align: top; 
}

/*.chat-protocol-table-column
{
	font-size: 12px;
	vertical-align: top;
	padding: 5px;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0px;
	border: 1px;
}*/

.chat-protocol-table-user-text
{
	font-size: 10px;
	color: #aaaadd;
	font-weight: bold;
	vertical-align: top;
	background: none;
}

.chat-protocol-table-time-text
{
	font-size: 10px;
	color: #aaaadd;
	vertical-align: top;
	background: none;
}

.chat-protocol-table-message-text
{
	font-size: 12px;
	vertical-align: top;
	background: none;
}

.chat-protocol-table-message-text-system
{
	font-color: #cccccc;
	font-size: 12px;
	font-style: italic;
	vertical-align: top;
	background: none;
}

.chat-protocol-table-message-text-file
{
	font-color: #aaaaaa;
	font-size: 12px;
	font-style: italic;
	vertical-align: top;
	background: none;
}

/* Chat Messages */

.chat-messageeditor-user0
{
	color: #000000;
}

.chat-messageeditor-user1
{
	color: #A80000;
}

.chat-messageeditor-user2
{
	color: #800080;
}

.chat-messageeditor-user3
{
	color: #A80000;
}

.chat-messageeditor-user4
{
	color: #808000;
}

.chat-messageeditor-user5
{
	color: #505050;
}

.chat-messageeditor-user6
{
	color: #A0A0A0;
}

.chat-messageeditor-user7
{
	color: #006666;
}

.chat-messageeditor-user8
{
	color: #003399;
}

.chat-messageeditor-user9
{
	color: #003300;
}

.chat-messageeditor-user10
{
	color: #660000;
}

.chat-messageeditor-user11
{
	color: #666633;
}
.chat-messageeditor-user-1
{
	color:  #006677;
	font-style: italic;
}

.chatPartColClass1
{
    width: 20%;
    text-align: center;
}

.chatPartColClass2
{
    text-align: center;
}

.chatPartColClass3
{
    width: 20%;
    text-align: center;
}

/* Criticality filter. */
.criticFilterClass1
{
	text-align: left;
}

.criticFilterClass2
{
	text-align: center;
}

/* Chat Notification */

.chat-invitation-message .iceOutTxt
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
	color: #a82127;
    text-decoration: none; 
}

.chat-invitation-message .iceOutTxt: hover
{
    text-decoration: underline; 
}

/* Styles for ice:menuPopup */

.iceMnuPopVrtTopSubMenu {
    background-color: #FCFCFC;
    border-color: #DBDBDB #6B6B6B #6B6B6B #DBDBDB;
    border: thin solid 1px;
	z-index:255;
}

.iceMnuPopVrtItem a {
	padding-left: 10px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 0px;
    font-size: 11px;
}

.iceMnuPopVrtItem a:hover {
/* was iceMenu_verticalItem */
    background-color: #4591A1;
    color: #4591A1;
    text-decoration: none;
}

.iceMnuPopVrtItem a:hover {
    background-color: #DDEAF0;
}

.iceMnuPopVrtItem-dis {
    width: 160px;
    display: block;
    margin: 2px 0px 2px 0px; !important;
    font-size: 1em;
}

.iceMnuPopVrtItem-dis .iceCmdLnk-dis {
    border-bottom: 0px; !important;
    margin: 0px 0px 0px 17px;
    font-size: 11px;
}

.iceMnuItmLabel-dis {
    color: #B9B5AE !important;
}

.treeClass .iceMnuItmLabel {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 7px;
    font-weight: normal;
    color: #000000 !important;
}

.notesTooltip .icePnlTlTip{
	width:200px;
	border:1px solid #FFCC00;
	background: url('../images/icons/notes-background.png') top repeat-x #FFFFE0;
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	overflow: auto;
	height: 300px;
}

.pnlBrdrDemo {
	display: block;
	float: left;
	width: 100%;
}

.pnlBrdrDemo .icePnlBrdrWest {
	font-weight: lighter;
	text-align: left;
	vertical-align: top;
	width: 200px;
	min-width: 200px;
	background: none;
	padding-right: 10px;
}

.pnlBrdrDemo .icePnlBrdrCenter {
	border-left: 1px dotted #CCCCCC;
	font-weight: lighter;
	text-align: left;
	vertical-align: middle;
	width: 100%;
	background: none;
	padding-left: 10px;
}

.chatSendButtonContainer {
	background: transparent url(../images/icons/footer_bg.png) repeat-x
		scroll center top;
	border-top: 1px solid #CCCCCC;
	bottom: 0;
	clear: both;
	left: 0;
}

.chatSendButtonContainer input {
	background: #FFFFFF url(../images/icons/toolbar-BG.jpg) repeat-x scroll
		center bottom;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	border-style: solid;
	border-width: 1px;
	color: #333333;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	margin: 5px;
	padding: 3px;
}

.chatMessageEditor {
	width: 100%;
	border: 1px solid #CCCCCC;
	margin-top: 20px;
}

.chatEntryPanel {
	background-color: white;
	border: 1px solid #CCCCCC;
}

.chatEntryPanelSeries
{
	width:100%;
	height:300px;
}
