/************** General *****************/
.msg-error {
	color: red;
	padding-left: 2px;
}

/* ********** View ********** */
.view-panel {
	margin: 6px;
	position: relative;
	overflow: auto;
}

.view-panel-toolbar {
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
	padding-bottom: 2px;
}

.view-panel-content {
	margin-top: 5px;
}

.view-toolbar-item {
	padding-left: 10px;
}

.view-tool-link {
	margin-right: 5px;
}

/************** popup dialog *****************/

.popup-dlg {
   position: absolute;
   z-index: 10;
   padding: 10px;
   border-top: 1px solid #CCCCCC;
   border-left: 1px solid #CCCCCC;
   border-bottom: 1px solid #999999;
   border-right: 1px solid #999999;
   background: #FFFFFF;
   overflow: auto;
   box-shadow: 5px 5px 25px #888888; 
}

.popup-dlg-bgImg {
	background: url('./css-images/notes-background.png') top repeat-x #FFFFE0;
}

.popup-dlg-hdr {
   border-bottom: 1px solid #CCCCCC;
   padding: 5px;
}

.popup-dlg-hdr-txt {
   color: #A69A88;
   font-size: 15px;
   font-weight: bold;
}

.popup-dlg-cls {
   float: right;
   margin: 5px 0px 0px 10px;
   cursor: pointer;
}

.popup-dlg-cnt {
   padding-top: 10px;
   padding-bottom: 10px;
}

.popup-dlg-footer {
   border-top: 1px solid #CCCCCC;
   padding-top: 10px;
   text-align: right;
   white-space: nowrap;
}

.popup-dlg-footer .button {
   margin-left: 5px;
}

.popup-dlg-footer .button .primary {
   margin-right: 5px;
   border-radius: 3px;
   color: white;
   background: #24415E;
   border-color: #21659d;
}

.popup-dlg-footer .button .secondary {
   background: #FFF !important;
   color: #333 !important;
}

/************** Input Components *****************/

.inp-sel-one {
   border-color: #AAAAAA;
   margin: 2px;
   width: auto;
}

.ui-section {
   border-right: 1px dotted gray;
   padding-right: 10px;
   margin-right: 10px;
}

.button-link {
	background: none;
	border: none;
}

.button-link[disabled='disabled'] {
	cursor: default;	
}

/************** Behaviors *****************/

.right {
	float:right;
}

.left {
	float:left;
}

/*Clear Fix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/************** COMMON CLASSES *****************/
.section {
	border-bottom: solid 1px #ddd;
	display:block;
	margin-bottom:1em;
	padding-left: 10px;
	padding-right: 10px;
}

/*Base for all button type elements*/
.button{
	border-radius: 3px;
	background: #24415E !important;
	color: white !important;
	border-color: #21659d;
}

/*Any .button preceeded by a .button will have this styling*/
.button ~ .button{
	background: #FFF !important;
	color: #333 !important;
}

/*Text headers, TODO: split out font-size and line height*/
.header{
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400 !important;
	color: #A69A88 !important;
	padding: 0px;
	line-height: 20px;
	text-align: left;
	white-space: nowrap;
	text-transform: uppercase;
}

/*Bubble container for simple counts, icons*/
.bubble{
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #777;
	border-radius: 10px;
}

/***********Backgrounds*/
.dark{
	background-color:#777;
	color:#fff;
}

.transparent{
	background-color:transparent;
}

.message{
	width:calc(100% -10px);
	padding:5px;
	border-radius:5px;
	border:solid 1px #999;
	cursor: pointer;
}

.warning{
	background:orange;
	color:#fff;
}





/********* Classes for HTTP loading and animation ***************/
.loading{
  background:#00F;
  width:100%;
  height:2px;
  overflow:hidden;
  position:relative;
}

.loading-inner{
  background:#EEF;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slideLeft;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 1s;
  -moz-animation-name: slideLeft;
  -moz-animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-name: slideLeft;
  animation-iteration-count: infinite;
  
  width:20px;
  height:2px;
  border-radius:50%;
}
/********Animations and transitions**************/
@-webkit-keyframes slideLeft {
  from {
    margin-left:0;
  }

  to {
   margin-left:100%;
  }
}

@-moz-keyframes slideLeft {
  from {
    margin-left:0;
  }

  to {
   margin-left:100%;
  }
}

@keyframes slideLeft {
  from {
    margin-left:0;
  }

  to {
   margin-left:100%;
  }
}