/* ********** View ********** */
.view-panel {
	margin: 6px;
	position: relative;
	overflow: auto;
}

.view-panel-toolbar {
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
	padding-bottom: 2px;
}

.view-panel-content {
	margin-top: 5px;
}

.view-toolbar-item {
	padding-left: 10px;
}

.view-tool-link {
	margin-right: 5px;
}

/* ********** Data Table ********** */

.selectedRow td {
	background-color: #E8E6FC;
}

.tbl-col {
	padding: 2px 5px 2px 5px;
	border: 1px solid #CCCCCC;
}

.tbl-hdr-col {
	padding: 2px 5px 2px 5px;
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
}

.tbl-toolbar {
	margin-bottom: 5px;
}

.tbl-toolbar-section {
	margin-right: 5px;
	border-right: 1px dotted gray;
	float: left;
}

.tbl-toolbar-item {
}

.tbl-tool-link {
	margin-right: 5px;
	cursor: pointer;
}

.tbl-flt-title {
   font-weight: normal;
   margin-bottom: 10px;
}
/************** Behaviors *****************/

.right {
	float:right;
}

.left {
	float:left;
}

/*Clear Fix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/************** COMMON CLASSES *****************/
.section {
	border-bottom: solid 1px #ddd;
	display:block;
	margin-bottom:1em;
	padding-left: 10px;
	padding-right: 10px;
}

/*Base for all button type elements*/
.button{
	border-radius: 3px;
	background: #24415E !important;
	color: white !important;
	border-color: #21659d;
}

/*Any .button preceeded by a .button will have this styling*/
.button ~ .button{
	background: #FFF !important;
	color: #333 !important;
}

/*Text headers, TODO: split out font-size and line height*/
.header{
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400 !important;
	color: #A69A88 !important;
	padding: 0px;
	line-height: 20px;
	text-align: left;
	white-space: nowrap;
	text-transform: uppercase;
}

/*Bubble container for simple counts, icons*/
.bubble{
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #777;
	border-radius: 10px;
}

/***********Backgrounds*/
.dark{
	background-color:#777;
	color:#fff;
}

.transparent{
	background-color:transparent;
}

.message{
	width:calc(100% -10px);
	padding:5px;
	border-radius:5px;
	border:solid 1px #999;
	cursor: pointer;
}

.warning{
	background:orange;
	color:#fff;
}





/********* Classes for HTTP loading and animation ***************/
.loading{
  background:#00F;
  width:100%;
  height:2px;
  overflow:hidden;
  position:relative;
}

.loading-inner{
  background:#EEF;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slideLeft;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 1s;
  -moz-animation-name: slideLeft;
  -moz-animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-name: slideLeft;
  animation-iteration-count: infinite;
  
  width:20px;
  height:2px;
  border-radius:50%;
}
/********Animations and transitions**************/
@-webkit-keyframes slideLeft {
  from {
    margin-left:0;
  }

  to {
   margin-left:100%;
  }
}

@-moz-keyframes slideLeft {
  from {
    margin-left:0;
  }

  to {
   margin-left:100%;
  }
}

@keyframes slideLeft {
  from {
    margin-left:0;
  }

  to {
   margin-left:100%;
  }
}