/* Login Page */
div#loginBox .portalTitle {
	color: #808080;
	font-size: 12px;
}

div#loginBox .logo {
	background: url(./camino-images/login-logo-camino.jpg);
	height: 40px;
}

div#loginBox {
	border: 2px solid #e7e7e7;
}

/* Header elements */
.banner {
	background: #3c7882 url(./camino-images/camino_banner.png) left no-repeat;
	border-bottom: none;
}

.userConsole {
	background: #3c7882;
}

.userName {
	color: #ffffff;
	border-color: #ffffff;
}

.userName .iceOutTxt {
	color: #ffffff;
}

.portalAlertsLink .iceOutTxt {
	color: #ffffff;
}

.portalAlertsLink:hover .iceOutTxt {
	color: #ffffff;
}

.logout {
	color: #ffffff;
}

.logout:hover {
	color: #ffffff;
}

/* Footer */
.footer {
	height: 40px;
	border-top: 1px solid #3c7882;
	background: #3c7882 url(./camino-images/colorbars.png) left no-repeat;
	color: #ffffff;
	font-size: 12px;
	padding: 0px;
}

/* Perspective Menu */
.topMenu {
	background: rgb(72, 69, 62); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(72, 69, 62, 1) 0%, rgba(130, 127, 116, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(72, 69, 62, 1)), color-stop(100%, rgba(130, 127, 116, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(72, 69, 62, 1) 0%, rgba(130, 127, 116, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(72, 69, 62, 1) 0%, rgba(130, 127, 116, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(72, 69, 62, 1) 0%, rgba(130, 127, 116, 1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(72, 69, 62, 1) 0%, rgba(130, 127, 116, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48453e', endColorstr='#827f74', GradientType=0); /* IE6-9 */
}

.topMenu .iceMnuBarItem a:hover,.iceMnuBarVrtItem a:hover {
	background: rgb(134, 130, 122); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(134, 130, 122, 1) 0%, rgba(105, 102, 95, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(134, 130, 122, 1)), color-stop(100%, rgba(105, 102, 95, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(134, 130, 122, 1) 0%, rgba(105, 102, 95, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(134, 130, 122, 1) 0%, rgba(105, 102, 95, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(134, 130, 122, 1) 0%, rgba(105, 102, 95, 1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(134, 130, 122, 1) 0%, rgba(105, 102, 95, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#86827a', endColorstr='#69665f', GradientType=0); /* IE6-9 */
}

.topMenu .iceMnuItm {
	border-left: 1px solid #68665e;
	border-right: 1px solid #68665e;
	border-top: 1px solid transparent;
	border-bottom: 1px solid #7f7c74;
}

.topMenu .iceMnuItm:hover {
	border-top: 1px solid #c0beb8;
	border-bottom: 1px solid #7f7c74;
}

.topMenu .iceMnuItm a {
	background-color: #98958c;
	color: #ffffff;
}

.topMenu .iceMnuItm a:hover {
	background: rgb(179, 176, 170); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(179, 176, 170, 1) 0%, rgba(132, 128, 118, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(179, 176, 170, 1)), color-stop(100%, rgba(132, 128, 118, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(179, 176, 170, 1) 0%, rgba(132, 128, 118, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(179, 176, 170, 1) 0%, rgba(132, 128, 118, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(179, 176, 170, 1) 0%, rgba(132, 128, 118, 1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(179, 176, 170, 1) 0%, rgba(132, 128, 118, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b0aa', endColorstr='#848076', GradientType=0); /* IE6-9 */
}

.topMenu .iceMnuBarItem a .iceOutTxt,.iceMnuBarVrtItem a .iceOutTxt,.iceMnuBarItem a .iceMnuBarItemLabel {
	color: #ffffff;
}

.topMenu .iceMnuItmImage,.iceMnuItmLabel {
	color: #ffffff;
}

/* Common Menu */
.commonMenuBar {
	/* Overrides .iceMnuBar, .iceMnuBarVrt only for Top Menu */
	background: none;
	border-top: none;
	border-bottom: none;
	color: #dddddd;
}

.commonMenuBarItem,.commonMenuBarVrtItem {
	display: inline;
}

.commonMenuBarItem .iceMnuBarItemLabel {
	color: transparent !important;
}

.commonMenuBarItem a {
	min-width: 242px;
	color: black;
}

.commonMenuBarItem a:hover {
	min-width: 242px;
	background: #000000 url(./camino-images/camino_banner_sungard.png) left no-repeat;
	color: black;
}

/* Overrides .iceMnuBarItem */
.commonMenuBarItem a,.commonMenuBarItem span,.commonMenuBarItem a:hover,.commonMenuBarVrtItem a,.commonMenuBarVrtItem span,.commonMenuBarVrtItem a:hover {
	padding: 5px;
	display: inline;
	/* This is required so that menu bar appears horizontal */
}

.commonMenuBarSubMenu {
	border: none;
}

.commonMenuItem {
	line-height: 30px;
	width: 250px;
	white-space: nowrap;
	border: none;
	border-bottom: 1px solid #303030;
}

.commonMenuItem a {
	background: black;
}

.commonMenuItem a:hover {
	background: #518a94; /* Old browsers */
	background: -moz-linear-gradient(top, #518a94 0%, #23626c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #518a94), color-stop(100%, #23626c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #518a94 0%, #23626c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #518a94 0%, #23626c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #518a94 0%, #23626c 100%); /* IE10+ */
	background: linear-gradient(top, #518a94 0%, #23626c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#518a94', endColorstr='#23626c', GradientType=0); /* IE6-9 */
}

.commonMenuItemLabel {
	font-size: 12px;
	color: #75C0CD;
}

.commonMenuItem-dis {
	background: #3c3c3c; /* Old browsers */
	background: -moz-linear-gradient(top, #3c3c3c 0%, #101010 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #101010)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3c3c3c 0%, #101010 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3c3c3c 0%, #101010 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3c3c3c 0%, #101010 100%); /* IE10+ */
	background: linear-gradient(top, #3c3c3c 0%, #101010 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c3c3c', endColorstr='#101010', GradientType=0); /* IE6-9 */
	
	width: 250px;
	white-space: nowrap;
	border: none;
	border-bottom: 1px solid #303030;
}

.commonMenuItemLabel-dis {
	line-height: 30px;
	font-size: 12px;
	color: #ffffff;
}

.commonMenuItemImage {
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Panel Popup */
.panelHeaderTitle {
	color: #2f6871;
}

.popupDialog {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #737373;
}

.popupDialogHdr {
	background: #3c7882;
	color: #ffffff;
	font-weight: bold;
	white-space: normal;
	width: auto;
	height: 3em;
	/*    border-radius: 5px 5px 0px 0px; 
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;*/
	border-bottom: 1px solid #2e5c63;
}

.popupDialogHdr .headerText {
	color: #ffffff;
	float: left;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 0 10px;
	text-align: left;
	white-space: nowrap;
}

.pnlPopUpBrdrDialogSouth,.pnlPopUpMsgBrdrCnfDialogSouth {
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0);/* IE6-9 */
	
	border-top: 1px solid #999999;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-bottom: 1px solid #999999;
}

.pnlPopUpMsgBrdrCnfDialogCenter {
	padding: 24px;
}

.pnlPopUpMsgBrdrDialogCenter {
	padding: 24px;
}

/* Buttons */
.button {
	background: #437f89; /* Old browsers */
	background: -moz-linear-gradient(top, #437f89 0%, #22606a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #437f89), color-stop(100%, #22606a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #437f89 0%, #22606a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #437f89 0%, #22606a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #437f89 0%, #22606a 100%); /* IE10+ */
	background: linear-gradient(top, #437f89 0%, #22606a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#437f89', endColorstr='#22606a', GradientType=0);/* IE6-9 */
	
	color: #ffffff;
	padding: 5px 10px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-bottom: 1px solid #437f89;
}

.secondary {
	background: #ffffff; /* Old browsers */
	color: #000000;
}

/* tabOn style classes */
.icePnlTbOn {
	margin-right: 1px;
}

/* tabOff style classes */
.icePnlTbOff {
	background: rgb(104, 101, 94); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(104, 101, 94, 1) 0%, rgba(132, 129, 118, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(104, 101, 94, 1)), color-stop(100%, rgba(132, 129, 118, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(104, 101, 94, 1) 0%, rgba(132, 129, 118, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(104, 101, 94, 1) 0%, rgba(132, 129, 118, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(104, 101, 94, 1) 0%, rgba(132, 129, 118, 1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(104, 101, 94, 1) 0%, rgba(132, 129, 118, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr ='#68655e', endColorstr='#848176', GradientType=0);/* IE6-9 */
	
	border: 1px solid #b0afa9;
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-bottom: none;
	
	margin-right: 1px;
}

.icePnlTbOff .LftTop,.icePnlTbOff .MidTop,.icePnlTbOff .RtTop,.icePnlTbOff .LftMid,.icePnlTbOff .MidMid,.icePnlTbOff .RtMid,.icePnlTbOff .LftBtm,.icePnlTbOff .MidBtm,.icePnlTbOff .RtBtm {
	background: transparent;
}
/* tabOver style classes */
.icePnlTbOver { /* was iceTabSetTabOver */
	background: rgb(134, 130, 122); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(134, 130, 122, 1) 0%, rgba(105, 102, 95, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(134, 130, 122, 1)), color-stop(100%, rgba(105, 102, 95, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(134, 130, 122, 1) 0%, rgba(105, 102, 95, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(134, 130, 122, 1) 0%, rgba(105, 102, 95, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(134, 130, 122, 1) 0%, rgba(105, 102, 95, 1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(134, 130, 122, 1) 0%, rgba(105, 102, 95, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#86827a', endColorstr='#69665f', GradientType=0); /* IE6-9 */
	
	border: 1px solid rgba(255, 255, 255, 0.45);
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-bottom: none;
	
	margin-right: 1px;
}

.icePnlTbOver .LftTop,.icePnlTbOver .MidTop,.icePnlTbOver .RtTop,.icePnlTbOver .LftMid,.icePnlTbOver .MidMid,.icePnlTbOver .RtMid,.icePnlTbOver .LftBtm,.icePnlTbOver .MidBtm,.icePnlTbOver .RtBtm {
	background: transparent;
}

/* Styles for .portalTbLbl */
.icePnlTbOff .portalTbLbl {
	color: #ffffff;
}

.icePnlTbOver .portalTbLbl {
	color: #ffffff;
}

/* Breadcrumbs */
.breadcrumbs a {
	background-image: none;
	color: #1b545d;
	margin: 0px;
	padding: 0px;
}

/* Collapsible Panel */
.icePnlClpsblColpsdHdr .iceOutTxt,.icePnlClpsblHdr .iceOutTxt,.icePnlClpsblColpsdHdr-dis .iceOutTxt,.icePnlClpsblHdr-dis .iceOutTxt {
	color: #2F6871;
}

.windowClose {
	background: url(./camino-images/dialog_close.png) no-repeat;
}
