/* QA MANAGEMENT VIEW*/

.qa-management-emptyCell-warning {
	color: orange;
	font-size: 2.27em;
}

/* Password Management */
.password-mgmt-text {
	width: 35px;
}

.clearing
{
	clear: both;
	height: 10px;
}

.msgFatal
{
	color: red;
}

.msgError
{
	color: red !important;
	font-weight: normal;
}

.msgWarning
{
	color: orange !important;
	font-weight: normal;
}	

.msgInfo
{
	color: blue !important;
	font-weight: normal;
}

.cloneParticipantSelector .sd-participant-selector .sd-ac-container {
	width:400px;
}

.permission-tree {
	overflow: auto;
    height: 600px;
}

.permission-tree .sd-tree .expand-section {
	float: left;
}  

.permission-tree ul {
	margin: 0 0 0 0;	
}

.overview-report-field-value{
    color: #708090;
    margin-left: -5px;
    margin-right: 10px;
}

.participantTable {
	overflow: auto;
    height: 650px;
}
