/* QA MANAGEMENT VIEW*/

.qa-management-emptyCell-warning {
	color: orange;
	font-size: 2.27em;
}

/* Password Management */
.password-mgmt-text {
	width: 35px;
}

.clearing
{
	clear: both;
	height: 10px;
}

.msgFatal
{
	color: red;
}

.msgError
{
	color: red !important;
	font-weight: normal;
}

.msgWarning
{
	color: orange !important;
	font-weight: normal;
}	

.msgInfo
{
	color: blue !important;
	font-weight: normal;
}

.cloneParticipantSelector .sd-participant-selector .sd-ac-container {
	width:400px;
}

.permission-tree {
	overflow: auto;
    height: 600px;
}

.permission-tree .sd-tree .expand-section {
	float: left;
}  

.permission-tree ul {
	margin: 0 0 0 0;	
}

.overview-report-field-value{
    color: #708090;
    margin-left: -5px;
    margin-right: 10px;
}

.participantTable {
	overflow: auto;
    height: 650px;
}

/*
Custom match rules for the Authorization Management Tree:
Auth tree is a hand-stitched implementation of a tree rather
than an instance of the sdTree directive. It's DOM structure
deviates from that of sdTree causing several of the styles we
would like to inherit from sdTree to no longer work with the 
auth tree implementation. Therefore, we have added
custom styles below to handle these cases.
---------------------------------------------------------
*/
.sd-tree a.selected-custom span{
	background: #EEE2CF !important;
  	color: #708090 !important;
  	border-radius: 5px !important;
}

.sd-tree li.match-custom > ul > li > a.tree-node > div > div.dd-header  .js-filterable,
.sd-tree li.match-custom > .title-section > a.tree-node > span,
.sd-tree li.match-custom > .title-section  > div .js-filterable
{
	background: rgb(77, 114, 171);
	border-radius: 2px;
	color: #FFF;
}
