
.ruler {
}
.ruler.annotations {
	width: 16px;
}
.ruler.folding {
	background-color: white;
	width: 14px;
}
.ruler.lines {
	background-color: white;
	text-align: right;
}
.ruler.overview {
	width: 14px;
}
.rulerLines {
}
.rulerLines.even
.rulerLines.odd {
}
