.iPopupDialogBackgroundScreen {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}

.iPopupDialog {
	position: absolute;
	left: 500px;
	top: 200px;
	height: auto;
	width: auto;
}

.iPopupDialogTitleBar {
	width: 100%;
	height: 30px;
	background: url("../images/panelHeader-BG.png") repeat-x scroll center bottom #FFFFFF;
	border-bottom: thin solid #CCCCCC;
}

.iPopupDialogCloseControl {
	background: url("../images/icons/dialog-windowbttn-close.png") no-repeat scroll 0 50% transparent !important;
	border: medium none !important;
	cursor: pointer;
	float: right;
	padding: 5px 10px;
}

.iPopupDialogSpacerDiv {
	padding: 5px;
}

.iPopupDialogContentArea {
	width: 100%;
	height: auto;
	background-color: white;
	padding-left: 25px;
}

.iPopupDialogContentTabCol1 {
	padding: 0 10px 30px;
}

.iPopupDialogContentTabCol2 {
	padding: 10px;
}

.iPopupDialogContentText {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.iPopupDialogTitleText {
	color: #333333;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	padding: 5px 10px;
	text-align: left;
	white-space: nowrap;
}

.iPopupDialogControlsArea {
	width: 100%;
	height: 45px;
	background: url("../images/footer-BG.jpg") repeat-x scroll center top #FFFFFF;
	border-top: thin solid #CCCCCC;
}

.iPopupDialogControlButton {
	margin: 9px 4px 4px 9px;
	cursor: pointer;
	background: url("./css-images/button-background.png") repeat-x scroll center bottom #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 3px 10px;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	border-style: solid;
	border-width: 1px;
	color: #333333;
}

#progressBar {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #D9D9D9;
	height: 20px;
	width: 42%;
	margin-left: 10px;
}

#fileUploadPercent {
	text-align: center;
	position: relative;
	background-color: transparent;
	width: 100%;
	z-index: 1;
}

.popupTextArea {
	height: 22px;
	width: 420px;
}

.iPopupDialogBody {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0px;
}

.panelHeader {
	border-bottom: 1px solid #CCCCCC;
	clear: both;
	height: 20px;
	line-height: 20px;
	margin: 5px 0;
	white-space: nowrap;
}