/* Additional stylesheet that alters the default styles to accommodate differences in CSS rendering in various user-agents/browsers. */

.button, .button-dis
{
	padding:3px 5px;
}

.procSearchSelOneRadio {
	text-align: left;
	margin-left: -6px;
	margin-top: -2px;
}

.participantAutoCplRow {
	white-space: normal !important;
	word-wrap: break-word;
	overflow:hidden;
}

.topMenuBarSubMenu {
	margin-top: 8px;
 }

 .form-panel-summary-bar-text
{
	color: rgb (77, 77, 77);
	padding: 8px 5px 3px 0;
	white-space: nowrap;
	font-weight: normal;
	line-height: 10px;
	font-size:13px;
	float:left;
}