.genericTable
{
	width: 100%;
	border: none /* 1px solid gray */ /* #d9d9d9 */ ;
	margin-top: 4px;
	padding: 0px;
	spacing: 0px;
}

.genericTableTitle /* Depricated: Used as heading class in portal.css */ 
{
}

.messagePanel {
	font-family: Arial, sans-serif;
	font-size: 11px;
	height:20px;
	background-color: #FFD966;
	border: 1px solid #CCCCCC;
}

.messagePanel .messagePanelText {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	height: 18px;
	padding-left: 5px;
	margin-left:5px;
	vertical-align:top;
}

.messagePanel .messagePanelImg {
	padding-left: 15px;
	padding-bottom:2px;
}

/* Default style for Validation msg txt */
.validationMsgDlgTxt1 {
	color:red;
}

.genericTableToolbar
{
	cell-padding: 0;
	cell-spacing: 0;
	white-space: nowrap;
	padding-bottom: 2px;
	padding-right: 8px;
	background: transparent url(../images/icons/toolbar-separator.png) no-repeat scroll right center;
}	

.genericTableUserToolbar
{
	cell-padding: 0;
	cell-spacing: 0;
	white-space: nowrap;
	padding-bottom: 2px;
	padding-right: 8px;
	background: transparent url(../images/icons/toolbar-separator.png) no-repeat scroll right center;
}

.genericTableRow1
{
	background-color: #FFFFFF;
}

.genericTableRow2
{
	background-color: #F4F4F4;
}

.genericTableTreeLine1
{
	white-space: nowrap !important;
}

.genericTableTreeLine2
{
	color:  gray !important;
	white-space: nowrap !important;
}

.genericTableGroupHeader
{
	
}

.genericTablePaginatorInfo
{
	font-size: 9px;
	color: #999999;
}

.genericTableSortColHdr
{
	background: transparent url("./css-images/colHeader-Sort.png") no-repeat scroll right center;
	height: 16px;
	width: 10px;
	padding-left: 4px;
}

.genericTableHdr{
    text-align: center;
    font: 11px tahoma;
    color: #484848;
    padding: 0px;
    font-weight: bold;
    background: #FFF url( './css-images/table_col_header.gif' ) repeat-x bottom left;
    border: 1px solid #d9d9d9;
    vertical-align:top;
}

/* Overrides the ICEfaces Default Styles in connection with above style */
.iceCmdSrtHdrAsc 
{
	background: transparent url("./css-images/colHeader-Sort-Acending.png") no-repeat scroll right center;
	height: 16px;
	width: 10px;
	padding-left: 4px;
}

.iceCmdSrtHdrDesc
{
	background: transparent url("./css-images/colHeader-Sort-Decending.png") no-repeat scroll right center;
	height: 16px;
	width: 10px;
	padding-left: 4px;
}

.dataFilterSummaryText
{
	font-weight: normal;
	color: gray !important;
	white-space: nowrap !important;
}
	
.msgFatal
{
	color: red;
}

.msgError
{
	color: red !important;
	font-weight: normal;
}

.msgWarning
{
	color: orange !important;
	font-weight: normal;
}	

.msgInfo
{
	color: blue !important;
	font-weight: normal;
}	

.iceMsgImageInfo {
	padding-left: 16px !important;
	padding-bottom: 1px;
	margin-left: 5px;
	background: url('../images/icons/information.png') no-repeat 0; 
}

.breadCrumbTitle
{
	font-size: 8pt;
	color: #5c5b5b;
}

.breadCrumbTitleLink
{
	font-size: 8pt;
	color: #5c5b5b;
	text-decoration:underline; 
}

.breadCrumbImage
{
	border: none;
	width: 25px;
	height: 12px;
	padding-left: 10px;
	padding-right: 10px;
}

.completed-process-history-row
{
	padding-left: 5px;
	overflow: auto;
}

.active-process-history-row
{
	padding-left: 5px;
	overflow: auto;
	font-weight: bold;
}

/* *********** Dialogs - START *********** */

.popupDialog {
	position: absolute;
	z-index: 1001;
	width: auto;
	height: auto;
	background-color: #FFFFFF;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}

.popupDialogHdr {
	width: auto;
	background-image: none;
	font-weight: bold;
	color: #333333;
	background: #FFFFFF url(../images/panelHeader-BG.png) repeat-x scroll center bottom;
	white-space: normal;
}

.popupDialogHdr .headerText {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 0px;
	line-height: 20px;
	text-align: left;
	white-space: nowrap;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

/* This is required for Pop ups under data table, like Table Filter Popup */
.iceDatTbl td span.iceOutTxt {
	padding-left: 5px;
	padding-right: 5px;
}

/* Following style is added to appropriate the calendar popup size */
.iceSelInpDateDay .iceCmdLnk .iceOutTxt {
	padding-left: 3px;
	padding-right: 3px;
}

.popupDialogHdr .windowClose {
	background: url(../images/icons/dialog-windowbttn-close.png) no-repeat scroll 0 transparent;
	border: none;
	float: right;
	padding-top: 6px;
	padding-right: 10px;
	cursor: pointer;
}

.popupDialogBody {
	width: auto;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
}

.pnlPopUpBrdrDialog, .pnlPopUpMsgBrdrDialog {
	display: block;
	float: left;
	background: #FFFFFF;
	cell-spacing: 0px;
	cell-padding: 0px;
}

.pnlPopUpBrdrDialogWest, .pnlPopUpMsgBrdrDialogWest {
	border: none;
	padding: 5px;
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	width: 50px;
	height: 222px;
	padding-top: 20px;
}

.pnlPopUpBrdrDialogCenter {
	border: none;
	font-weight: nor;
	text-align: left;
	vertical-align: top;
	padding: 10px 10px 10px 10px;
	line-height: 18px;
}

.pnlPopUpMsgBrdrDialogCenter {
	border: none;
	padding: 5px;
	font-weight: nor;
	text-align: left;
	vertical-align: top;
	width: 380px;
	height: 222px;
	padding-top: 25px;
	line-height: 18px;
}

.pnlPopUpBrdrDialogSouth, .pnlPopUpMsgBrdrDialogSouth {
	border-top: 1px solid #CCCCCC;
	padding: 5px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
	background: transparent url(../images/footer-BG.jpg) repeat-x scroll center top;
}

.pnlPopUpBrdrDialogSouth input, .pnlPopUpBrdrMsgDialogSouth input {
	margin: 5px;
}

.pnlPopUpMsgExceptionStackTrace{
	max-height: 300px;
	max-width: 800px;
	width: 650px;
	overflow: scroll;
}

/* *********** Dialogs - END *********** */

/* *********** Confirmation Panel - START *********** */

.pnlConfirmation {
	z-index: 1000;
	color: #000000;
	background-color: #FFFFFF;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	width: 300px;
	padding: 0px;
}

.pnlConfirmationHdr {
	background: #FFFFFF url(../images/panelHeader-BG.png) repeat-x scroll center bottom;
	color: #333333;
	padding: 0px 10px 0px 10px;
	border-bottom: 1px solid #D9D9D9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}

.pnlConfirmationBody {
	padding: 10px 10px 10px 10px;
	font-size: 1em;
	font-weight: normal;
	text-align: left;
}

.pnlConfirmationBtns {
	border-top: 1px solid #CCCCCC;
	padding: 5px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
	background: transparent url(../images/footer-BG.jpg) repeat-x scroll center top;
}

.pnlConfirmationBtns input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background: #FFFFFF url( "./css-images/button-background.png" ) bottom repeat-x;
	border: 1px solid #CCCCCC;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;		
	min-width: 60px;
	cursor: pointer;
	margin: 5px;
	padding: 3px;
}

/* *********** Confirmation Panel - END ********** */

/********* Custom Confirmation Panel -START ********/

.pnlPopUpBrdrDialog, .pnlPopUpMsgBrdrCnfDialog {
	display: block;
	float: left;
	background: #FFFFFF;
	cell-spacing: 0px;
	cell-padding: 0px;
}

.pnlPopUpBrdrDialogWest, .pnlPopUpMsgBrdrCnfDialogWest {
	border: none;
	padding: 5px;
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	width: 50px;
	height: auto;
	padding-top: 10px;
}

.pnlPopUpMsgBrdrCnfDialogCenter {
	border: none;
	padding: 5px;
	font-weight: nor;
	text-align: left;
	vertical-align: top;
	width: 380px;
	height: auto;
	padding-top: 10px;
	line-height: 18px;
}

.pnlPopUpBrdrDialogSouth, .pnlPopUpMsgBrdrCnfDialogSouth {
	border-top: 1px solid #CCCCCC;
	padding: 5px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
	background: transparent url(../images/footer-BG.jpg) repeat-x scroll center top;
}

.pnlPopUpBrdrDialogSouth input, .pnlPopUpBrdrMsgDialogSouth input {
	margin: 5px;
}


/********* Custom Confirmation Panel -END **********
/
/* *********** Column Selector - START *********** */

.columnItemBox{
	/* width: 170px; */ /*set as needed*/
	height: auto;
	padding: 5px 10px 5px 5px;
	margin: 2px 0;
	border: 1px solid #DDDDDD;
	border-bottom-color: #999999;
	border-right-color: #999999;
	background: url(../images/icons/colItemBox-grip.png) top right no-repeat #FFFFFF;
	cursor: n-resize;
}

div.columnItemBoxInput{
	float: left;
	cursor: default;
}

div.columnItemBoxInput input{
	margin: 0;
	height: 13px;
	width: 13px;
	overflow: hidden;
}

div.columnItemBoxLabel{
	margin-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	white-space: nowrap;
}

div.columnsListBox {
	max-height: 500px;
	overflow: auto;
}
/* *********** Column Selector - END ************* */

/* Common Menu Start */
.commonMenuLnk {
	font: 16px bold Arial; 
	position: absolute; 
	top:25px; 
	left: 10px; 
	color: transparent !important;
}
.commonMenuLnk:hover {
	color: transparent !important;
	text-decoration:none;
}

.commonMenuItem {
	line-height: 30px;
	white-space: nowrap;
	border: none;
	border-bottom: 1px solid #303030;
	background: black;
}

.commonMenuItem:hover 	{
	background: #518a94; /* Old browsers */
	background: -moz-linear-gradient(top, #518a94 0%, #23626c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #518a94), color-stop(100%, #23626c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #518a94 0%, #23626c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #518a94 0%, #23626c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #518a94 0%, #23626c 100%); /* IE10+ */
	background: linear-gradient(top, #518a94 0%, #23626c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#518a94', endColorstr='#23626c', GradientType=0); /* IE6-9 */
	text-decoration: none;
}

.commonMenuItem a:hover {
	text-decoration: none;
}

.commonMenuItem .iceOutTxt{
	font-size: 12px;
	color: #75C0CD;
}

.commonMenuItem .iceGphImg {
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
}

.commonMenuHeadingItem {
	background: #3c3c3c; /* Old browsers */
	background: -moz-linear-gradient(top, #3c3c3c 0%, #101010 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #101010)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3c3c3c 0%, #101010 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3c3c3c 0%, #101010 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3c3c3c 0%, #101010 100%); /* IE10+ */
	background: linear-gradient(top, #3c3c3c 0%, #101010 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c3c3c', endColorstr='#101010', GradientType=0); /* IE6-9 */
	
	white-space: nowrap;
	border: none;
	border-bottom: 1px solid #303030;
}

.commonMenuHeadingItem .iceOutTxt {
	line-height: 30px;
	font-size: 12px;
	color: #B9B5AE;
	padding-left: 10px;
}
/* Common Menu End */
