/* Style overrides to rime.css */

/* Styles for ice:menuBar */

.iceMnuBarItem a, .iceMnuBarItem span, .iceMnuBarItem a:hover, .iceMnuBarVrtItem a, .iceMnuBarVrtItem span, .iceMnuBarVrtItem a:hover {
    color: #FFFFFF;
}

.iceMnuBarItem a, .iceMnuBarVrtItem a {
    background-image: url( "./css-images/nav_main_bg.png" );
}

.iceMnuBarItem a:hover, .iceMnuBarVrtItem a:hover {
    background-image: url( "./css-images/bottom_menu_bg.png" );
}

/* Styles for ice:panelTabSet */

.icePnlTbSetCnt {
	padding-top: 5px;
}

/* Styles for ice:panelCollapsible */

.icePnlClpsbl, .icePnlClpsbl-dis {
    border: none;
}

.icePnlClpsblColpsd, .icePnlClpsblColpsd-dis {
    border: none;
}

.icePnlClpsblHdr {
	background: transparent;
	background-image: none;
	border-bottom: 1px solid #8898c2;
}

.icePnlClpsblColpsdHdr {
	background: transparent;
	background-image: none;
	border-bottom: 1px solid #8898c2;
}

.icePnlClpsblHdr div {
    background: url( './css-images/panel-expand.png' ) no-repeat top left;
    background-position: 0px 5px;   
}

.icePnlClpsblHdr-dis div {
    background: url( './css-images/panel-expand.png' ) no-repeat top left;
    background-position: 0px 5px;     
}

.icePnlClpsblColpsdHdr div {
    background: url( './css-images/panel-collapse.png' ) no-repeat top left;
    background-position: 0px 5px;     
}

.icePnlClpsblColpsdHdr-dis div {
    background: url( './css-images/panel-collapse.png' ) no-repeat top left;
    background-position: 0px 5px;    
}

.icePnlClpsblCnt, .icePnlClpsblCnt-dis {
	background-color: transparent;
}

.icePnlClpsblCnt, .icePnlClpsblColpsdCnt, .icePnlClpsblColpsdCnt-dis, .icePnlClpsblCnt-dis {
	border: none;
	border-top: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
}

/* Styles for ice:tree */

.iceTreeRow a:hover {
    font-weight: bold;
	text-decoration: none;
}

/* Styles for ice:commandButton */

.iceCmdBtn-dis {
	opacity: 0.4;
	filter: alpha(opacity=40)
}

/* Styles for ice:menuPopup */

.iceMnuPopVrtTopSubMenu {
    background-color: #FCFCFC;
    border-color: #DBDBDB #6B6B6B #6B6B6B #DBDBDB;
    border: thin solid 1px;
	z-index:255;
}

.iceMnuPopVrtItem a {
	padding-left: 10px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 0px;
    font-size: 11px;
}

.iceMnuPopVrtItem a:hover {
    background-color: #DDEAF0;
}

.iceMnuPopVrtItem-dis {
    width: 160px;
    display: block;
    margin: 2px 0px 2px 0px; !important;
    font-size: 1em;
}

.iceMnuPopVrtItem-dis .iceCmdLnk-dis {
    border-bottom: 0px; !important;
    margin: 0px 0px 0px 17px;
    font-size: 11px;
}

.iceMnuItmLabel-dis {
    color: #B9B5AE !important;
}
