/* Override portal styles here for SPS */

.sd-tree {
 	overflow: visible !important; /* This is required, otherwise unnecessary scroll appears */
}

.perspective-series-wrapper {
    top: 138px !important;
    border-top: none !important;
}