body, table {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.container-fluid {
	width: 100%;
	height: 100%;
}

.filler-cell{
	display: table-cell;
	width: 100%;
}

.app-header {
	border: 1px solid gray;
	background-color: #E8E8E8;
}

.header-table {
	display: table;
	width: 100%;
	height: 40px;
}

.header-row {
	display: table-row;
}

.header-cell {
	display: table-cell;
	white-space: nowrap;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 40px;
	vertical-align: middle;
}

.utility-link {
	cursor: pointer;
}

.app-logo {
	width: 100px;
	background-image: url('./images/stardust.jpg');
}

.app-title {
	font-weight: bold;
	font-size: 16px;
	padding-left: 15px;
}

.shell-tabs-bar {
	height: 34px;
	background-color: #747167;
	overflow: hidden;
	z-index: 1029;
}

.shell-tabs-spacer {
	background-color: #DFDEDA;
	height: 8px;
}

.shell-home {
	background: url('./images/dropBox.png') no-repeat center;
	border: 1px solid #DFDEDA;
	height: 34px;
	width: 38px;
	cursor: pointer;
}

.shell-home-icon {
}

.top-menu {
	position: absolute;
	z-index: 1000;
	padding: 5px;
	border: 1px solid #D2D3D3;
	background-color: #F2F3F3;
	cursor: auto;
	width: 300px;
	height: 150px;
	overflow: auto;
	margin: -2px;
}

.topMenuItemHeader {
	font-weight: bold;
}

.topMenuItemLabel {
	margin-left: 15px;
	font-weight: normal;
	cursor: pointer;
}

.nav-tabs {
	display: table;
}

.nav-tabs-row {
	display: table-row;
}

.nav-tab-shell-home {
	display: table-cell;
	overflow: hidden;
	height: 33px;
	cursor: pointer;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid gray;
}

.nav-tab {
	display: table-cell;
	height: 33px;
	cursor: pointer;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid gray;
}

.nav-tab-close {
	display: none;
   float: right;
   margin-right: 2px;
   margin-top: -35px;
   font-weight: bold;
   color: #696969;
}

.nav-active-tab-close {
   color: #696969;
}

.nav-inactive-tab-close {
   color: #FFFFFF;
}

.nav-tab:hover .nav-tab-close {
	display: inline-Block;
}

.nav-tab-label-icon-wrapper {
	max-width: 220px;
	min-width: 50px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
}

.nav-tab-active {
	background-color: #DFDEDA;
	color: #000000;
	font-weight: bold;
	line-height: 33px;
}

.nav-tab-inactive {
	background-color: #999999;
	color: #FFFFFF;
	font-weight: normal;
	line-height: 33px;
}

.nav-overflow-tab {
	display: table-cell;
	height: 33px;
	cursor: pointer;
	white-space: nowrap;
	vertical-align: middle;
	padding-left: 15px;
	padding-right: 5px;
	color: #FFFFFF;
}

.nav-overflow-tab-title {
	line-height: 33px;
	font-weight: bold;
}

.overflow-tabs {
	position: absolute;
	right: 2px;
	z-index: 1000;
	border: 1px solid #D2D3D3;
	background-color: #F2F3F3;
	color: #000000;
	padding: 5px;
	width: auto;
	min-width: 300px;
	max-width: 500px;
	height: auto;
	min-height: 200px;
	max-height: 60%;
	overflow: auto;
	margin: -2px;
}

.nav-overflow-tab-item {
	padding: 5px;
	font-weight: normal;
}

.nav-overflow-tab-item-label {
}

.view-panel-active {
	display: block;
}

.view-panel-inactive {
	display: none;
}

.sidebar {
}

.sidebar-content {
    background-color: #FFFFFF;
    border: 1px solid #E8E8E8;
    height: 100%;
    overflow: auto;
    word-wrap: break-word;
    z-index: 1028;
}

.sidebar-title {
    background-color: #938F87;
    background-image: linear-gradient(to bottom, #9F9C95, #807C73);
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-size: small;
    font-weight: bold;
    height: 28px;
    padding-left: 10px;
    padding-top: 5px;
    display: none; /* Hiding it */
}

.footer {
	display: table;
	background-color: #E8E8E8;
	width: 100%;
	height: 40px;
	position: fixed;
	bottom: 0px;
}

.footer-row {
	display: table-row;
}

.footer-cell {
	display: table-cell;
	white-space: nowrap;
	padding-right: 15px;
	line-height: 40px;
	vertical-align: middle;
}

.footer-filler-cell {
	display: table-cell;
	width: 100%;
}

.footer-item {
}

.copy-right {
}

.content-frame {
  width: 100%;
  border: none;
}