/* Override portal styles here for SPS */

.sd-tree {
 	overflow: visible !important; /* This is required, otherwise unnecessary scroll appears */
}

.perspective-series-wrapper {
    left: 2px !important;
    top: 138px !important;
    width: 345px !important;
    border-top: none !important;
}